body {
    background: #dcf5ff;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    
}

.container {
    width: 30%;
    background: white;
    border-radius: 10px;

    &:hover .inner {
        clip-path: circle(75%)
    }
}
.inner {
    background: #00B6FF;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    clip-path: circle(10% at 90% 20%);
    transition: all .5s ease-in-out;
    cursor: pointer;

    h1 {
        color: white;
        margin: 0;
    }

    p {
        color: white;
        font-size: .8rem;
    }

    &:hover {
        clip-path: circle(75%);
        background: #00B6FF;
    }

    span {
        float: right;
        color: white;
        font-weight: bold;
        transition: color .5s;
        position: relative;
        margin-right: 4%;
    }

    &:hover span{
        color: rgb(255, 255, 255, 0)
    }
}